:host {
  .wrap {
    display: flex;
  }
  ngk-gmaps {
    flex: 1 0;
  }
  ngk-md {
    padding: 20px;
    flex: 1 0;
    /deep/ pre {
      background: #eee;
      padding: 20px;
      border-radius: 2px;
    }
  }
}
